---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TwinklingStars from "@components/TwinklingStars.astro"
import MeteorShower from "@components/MeteorShower.astro"

const posts = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3)

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3)

const stack = [
  { text: "Astro", icon: "astro", href: "https://astro.build" },
  { text: "Javascript", icon: "javascript", href: "https://www.javascript.com" },
  { text: "Typescript", icon: "typescript", href: "https://www.typescriptlang.org" },
  { text: "Tailwind", icon: "tailwind", href: "https://tailwindcss.com" },
]
---

<PageLayout title="Servicios para Eventos en Málaga | Fyve Studio Pro" description="Fyve Studio Pro ofrece servicios integrales para eventos en Málaga, incluyendo fotografía, videografía y streaming en vivo. Captura y transmite cada momento de tus eventos con nosotros.">

  <!-- Light Mode: Particles -->
  <div class='absolute inset-0 block dark:hidden'>
    <div id='particles1' class='fixed inset-0'></div>
    <div id='particles2' class='fixed inset-0'></div>
    <div id='particles3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class='absolute inset-0 bg-black hidden dark:block'>
    <div id='stars1' class='fixed inset-0'></div>
    <div id='stars2' class='fixed inset-0'></div>
    <div id='stars3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Meteors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars/>
      <MeteorShower/>
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>
  
  <!-- HERO -->
  <section class="relative h-screen w-full">
    <div id="planetcont" class='animate absolute inset-0 top-1/4 overflow-hidden'>
      <div id="crescent" class='absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 dark:from-white/75 from-0% to-transparent to-5%'>
        <div id="planet" class='w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center'>
          <div id="blur" class='w-full h-20 rounded-full bg-neutral-900/25 dark:bg-white/25 blur-3xl'/>
        </div>
      </div>
    </div>
    <div class="animate absolute h-full w-full flex items-center justify-center">
      <div class='relative w-full h-full flex items-center justify-center'>
        <div class='p-5 text-center'>
          <p class='animated text-lg md:text-xl lg:text-2xl font-semibold opacity-75'>
            Bienvenido a Fyve Studio Pro
          </p>
          <p class='animated text-2xl md:text-3xl lg:text-4xl font-bold uppercase text-black dark:text-white'>
            Servicios para Eventos en Málaga
          </p>
          <p class='animated text-sm md:text-base lg:text-lg opacity-75'>
            Captura y transmite cada momento especial de tu evento con nuestros servicios profesionales.
          </p>
          <div class='animated flex flex-wrap gap-4 justify-center mt-5'>
            <a href='/fotogrfiadeeventos' class='py-2 px-4 rounded truncate text-xs md:text-sm lg:text-base bg-black dark:bg-white text-white dark:text-black hover:opacity-75'>
              fotografia de evento
            </a>
            <a href='/videoparaeventos' class='py-2 px-4 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15'>
              videografos para eventos
            </a>
            <a href='/streamingparaeventos' class='py-2 px-4 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15'>
                Streaming para eventos
              </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">
      <section class="animate">
        <article>
          <p>En <b><i>Fyve Studio Pro</i></b>, ofrecemos servicios integrales para eventos en Málaga. Desde <b><i>fotografía y videografía</i></b> hasta <b><i>streaming en vivo</i></b>, nos especializamos en capturar y transmitir cada momento importante de tus eventos.</p>
          <p>Nuestro equipo está equipado con la última tecnología y técnicas avanzadas para asegurar que cada aspecto de tu evento sea documentado con la máxima calidad. Ya sea que se trate de una conferencia, una feria, una presentación o cualquier otro tipo de evento, estamos aquí para ofrecerte una cobertura completa.</p>
          <p>Durante nuestra trayectoria, hemos trabajado en una amplia gama de eventos, adaptándonos a las necesidades específicas de cada cliente y proporcionando soluciones personalizadas para cada ocasión.</p>
          <p>Ahora, en Fyve Studio Pro, estamos comprometidos a ofrecerte un servicio excepcional que te permita disfrutar de tu evento mientras nosotros nos encargamos de capturar y transmitir cada detalle.</p>
        </article>
      </section>

      <div class='animated flex flex-wrap gap-4 justify-center mt-5'>
        <a href="https://wa.me/34641437667"  class='py-2 px-4 rounded truncate text-xs md:text-sm lg:text-base bg-black dark:bg-white text-white dark:text-black hover:opacity-75'>
          contactanos a traves de chat
        </a>
        <a href="tel:+34641437667" class='py-2 px-4 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15'>
          Llamanos
        </a>
        <a href="mailto:info@fyvestudio.pro" class='py-2 px-4 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15'>
            Mandanos un mail
          </a>
    </div>
  </div>
</PageLayout>
